<div class="well well-lg center">
	<h1>Let your Image be seen</h1>
		<h3>Click below to upload</h3>
		 <p><%= link_to "Your Photo", "https://maps.google.com/", class: "btn btn-default"%>
		<%= link_to "Your Video", "#", class: "btn btn-primary"%>.</p>
</div>